body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #a7a5a5;
    padding: 10px;
    text-align: center;
    color: rgb(53, 52, 52)
}

ul {
    list-style: none;
    display: flex;
}

li {
    font-size: 16px;
    color: rgb(39, 38, 38);
    padding: 10px;
    font-weight: 800;
    border: 2px solid white;
    margin: 10px;
    border-radius: 10px;
}

li:hover {
    font-size: 16px;
    color: rgb(39, 38, 38);
    padding: 10px;
    font-weight: 800;
    border: 2px solid white;
    margin: 10px;
    border-radius: 10px;
}

nav {
    display: flex; 
    justify-content: center;
}

nav a {
    color: #4e4d4d;
    text-decoration: none;
}

.menu-icon {
    display: none;
}

@media only screen and (max-width: 767px) {
    nav {
        display: none;
        flex-direction: column;
        text-align: center;
    }

    nav a {
        display: block;
        padding: 10px;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }

    #menu-toggle {
        display: none;
    }

    #menu-toggle:checked + nav {
        display: flex;
    }
}