body {
    background-color: #88c1d0;
}

@media (max-width: 1279px ) {
    body {
        background-color: #ffffff;
    } 
} 

@media (min-width: 1280px ) and (max-width: 1679px) {
    body {
        background-color: #275fa0;
    }   
}

@media (min-width: 1680px ) and (max-width: 1920px) {
    body {
        background-color: #ffca4b;
    }   
}